@font-face {
  font-family: "LeeSeoyun";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2202-2@1.0/LeeSeoyun.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "NeoDunggeunmoPro-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/NeoDunggeunmoPro-Regular.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

.a11y-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

:root {
  --font-color: #000;
  --body-background: url("../img/light.jpg");

  --header-font-family: "LeeSeoyun", sans-serif;
  --title-font-color: #fff;

  --add-background: #fff;
  --add-hover-background: rgb(72, 228, 255);
  --add-hover-box-shadow: rgba(38, 241, 255, 0.486);
  --add-active-box-shadow: rgba(132, 204, 245, 0.89);

  --p-font-color: #fff;
  --p-font-shadow: #00d9e9;
  --p-box-shadow: #fff;
  --p-background: rgba(83, 238, 238, 0.7);

  --memo-wrap-box-shadow: rgba(209, 209, 209, 0.5);
  --top-memo-background: rgb(138, 251, 255);
  --bottom-memo-background: #fff;
  --edit-img-color: url("../img/edit.svg");
  --delete-img-color: url("../img/delete.svg");

  --player-background: #fff;
  --player-progress-bar: #e6e6e6;
  --player-progress-length: rgb(91, 227, 236);
  --player-play-color: url("../img/play.svg");
  --player-stop-color: url("../img/stop.svg");
  --player-pause-color: url("../img/pause.svg");

  --switch-img-color: url("../img/moon.svg");
  --switch-box-shadow: #bd85e6;
}

.dark {
  --font-color: #ffffffc2;
  --body-background: url("../img/dark.jpg");

  --header-font-family: "NeoDunggeunmoPro-Regular", sans-serif;
  --title-font-color: #392c66;

  --add-background: #7476cd;
  --add-hover-background: rgb(179, 149, 85);
  --add-hover-box-shadow: #6e7ec9;
  --add-active-box-shadow: #91a1e9;

  --p-font-color: rgb(205 161 68);
  --p-font-shadow: #000;
  --p-box-shadow: #000;
  --p-background: #52457e;

  --memo-wrap-box-shadow: #4e63b391;
  --top-memo-background: #413760;
  --bottom-memo-background: #101010;
  --edit-img-color: url("../img/editDark.svg");
  --delete-img-color: url("../img/deleteDark.svg");

  --player-background: #121212;
  --player-progress-bar: #555;
  --player-progress-length: #d0a3fd;
  --player-play-color: url("../img/playDark.svg");
  --player-stop-color: url("../img/stopDark.svg");
  --player-pause-color: url("../img/pauseDark.svg");

  --switch-img-color: url("../img/sun.svg");
  --switch-box-shadow: rgb(91, 227, 236);
}

h1,
input,
textarea,
button,
body,
p {
  margin: 0;
  padding: 0;
}

button {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
}

textarea,
input {
  appearance: none;
  -webkit-appearance: none;
  border: none;
  resize: none;
  outline: none;
  color: var(--font-color);
}

textarea,
input,
.input-title,
.show-text {
  font-family: "Pretendard-Regular", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  color: var(--font-color);

  background-image: var(--body-background);
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
  background-attachment: fixed;

  transition: all 0.3s ease 0s;
}

/* scrollbar */
::-webkit-scrollbar {
  width: 0.4em;
}
::-webkit-scrollbar,
::-webkit-scrollbar-thumb {
  overflow: visible;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
}

/* header */
.title-btn {
  width: auto;
  text-align: center;
  padding-bottom: 50px;
}

h1 {
  padding-bottom: 30px;
  font-family: var(--header-font-family);
  font-size: 5rem;
  color: var(--title-font-color);
  text-shadow: 5px 7px rgb(91, 227, 236), 0 0 30px #bbe3f3;
}

h1:hover {
  animation: float 2s ease-in-out infinite;
}

@keyframes float {
  from {
    transform: translate(0, 0);
  }
  65% {
    transform: translate(0, 15px);
  }
}

p {
  font-family: var(--header-font-family);
  font-weight: bold;
  font-size: 2rem;
  color: var(--p-font-color);
  margin-bottom: 40px;
  padding: 5px;
  border-radius: 10px;
  text-shadow: 3px 3px var(--p-font-shadow);
  box-shadow: inset var(--p-box-shadow) 0 0 0 2px;
  background-color: var(--p-background);
}

.add-btn {
  width: 140px;
  height: 45px;
  background-color: var(--add-background);
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
}

.add-btn:hover {
  background-color: var(--add-hover-background);
  box-shadow: 0px 10px 20px var(--add-hover-box-shadow);
  color: #fff;
  transform: translateY(-7px);
}

.add-btn:active {
  transform: translateY(-1px);
  transition: all 0.1s ease 0s;
  box-shadow: 0 5px 10px var(--add-active-box-shadow);
}

/* main */
main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  /* 
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 20px;
  margin: 0px 100px 0px 100px;
  */
}

.memo-wrap {
  width: 250px;
  margin-right: auto;
  margin-bottom: 20px;
  border-radius: 5px;
  background-color: var(--bottom-memo-background);
  box-shadow: 5px 5px 5px var(--memo-wrap-box-shadow);
  opacity: 0;
  animation: memoFadeIn 0.5s forwards ease-in-out;
}

@keyframes memoFadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.memo-wrap .hidden {
  display: none;
}

.edit {
  background: var(--edit-img-color) no-repeat;
  background-color: var(--top-memo-background);
}

.delete {
  background: var(--delete-img-color) no-repeat;
  border-radius: 0px 5px 0px 0px;
  background-color: var(--top-memo-background);
}

.top-memo {
  display: flex;
}

.top-memo button {
  min-width: 40px;
}

input,
textarea {
  font-size: 1rem;
}

input {
  width: 170px;
  height: auto;
  font-weight: bold;
  box-sizing: border-box;
  padding: 5px;
  border-radius: 5px 0px 0px 0px;
  background-color: var(--top-memo-background);
}

.input-title {
  min-width: 170px;
  height: auto;
  font-weight: bold;
  box-sizing: border-box;
  padding: 5px;
  border-radius: 5px 0px 0px 0px;
  background-color: var(--top-memo-background);
  color: var(--font-color);
}

textarea {
  width: 100%;
  height: 200px;
  padding: 5px;
  box-sizing: border-box;
  resize: none;
  color: #999999;
  background-color: var(--bottom-memo-background);
}

.show-text {
  overflow-y: auto;
  height: 200px;
  box-sizing: border-box;
  white-space: pre-wrap;
  border-radius: 5px;
  padding: 5px;
  background-color: var(--bottom-memo-background);
  color: var(--font-color);
}

/* music player */
.music-player {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  background-color: var(--player-background);
  box-shadow: 0px 4px 10px rgba(179, 179, 179, 0.2);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.player-controls {
  display: flex;
  align-items: center;
}

.music-player button {
  width: 30px;
  height: 30px;
}

.play-btn,
.pause-btn {
  margin-right: 10px;
}

.play-btn {
  background-image: var(--player-play-color);
}

.play-btn.stop {
  background-image: var(--player-stop-color);
}

.pause-btn {
  background-image: var(--player-pause-color);
}

.play-btn:hover,
.pause-btn:hover {
  transform: scale(1.1);
  transition: all 0.2s ease-in-out;
}

.progress-bar {
  position: relative;
  width: 300px;
  height: 6px;
  background-color: var(--player-progress-bar);
  border-radius: 3px;
  margin-left: 10px;
}

.progress {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: var(--player-progress-length);
  border-radius: 3px;
  width: 0%;
}

/* dark mode */
.btn-controls {
  position: absolute;
  margin-right: 30px;
  right: 0;
}

.mode-switch-btn {
  width: 30px;
  box-shadow: 10px 0px var(--switch-box-shadow);
  border-radius: 50%;
  background-image: var(--switch-img-color);
  transition: all 0.2s ease-in-out;
}

.mode-switch-btn:hover {
  transform: scale(1.1);
}

.mode-switch-btn:active {
  box-shadow: none;
  transform: translateX(10px);
  opacity: 0.3;
}

/* 다크모드 설정 */
h1.neon {
  text-shadow: 0 0 5px #b1acac, 0 0 10px #b1acac, 0 0 20px #f89df4,
    0 0 35px #f89df4, 0 0 50px #d565d0, 0 0 75px #ff00f4;
}

h1.neon:hover {
  animation: blink 1s ease-in-out infinite;
  transition: all 0.3s ease 0s;
}

@keyframes blink {
  0% {
    opacity: 0.2;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 0.6;
  }
}

.dark p {
  box-shadow: 3px 3px 5px var(--p-box-shadow);
  font-size: 1.7rem;
}

@media (min-width: 531px) and (max-width: 800px) {
  main {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 530px) {
  main {
    grid-template-columns: repeat(1, 1fr);
  }

  .progress-bar {
    width: 0px;
  }

  .music-player {
    justify-content: flex-start;
  }

  .play-btn {
    margin-left: 10px;
  }

  .pause-btn {
    margin-right: 0px;
  }

  .btn-controls {
    margin-right: 20px;
  }
}

@media (max-width: 272px) {
  h1 {
    font-size: 2.7rem;
  }

  p {
    font-size: 1.8rem;
  }

  .dark h1 {
    font-size: 3rem;
  }

  .dark p {
    font-size: 1.2rem;
  }

  main {
    flex-direction: column;
    justify-content: center;
  }

  .progress-bar {
    width: 0px;
  }

  .music-player {
    justify-content: flex-start;
  }

  .play-btn {
    margin-left: 10px;
  }

  .pause-btn {
    margin-right: 0px;
  }

  .btn-controls {
    margin-right: 20px;
  }
}
